.none {
    border:0;
    border-style: none;
}

.nonetext {
    color:red;
}

.dotted {
    border:1;
    border-style: dotted;
 
}

.dottedtext {
    color: red;
}

.dashed {
    border:1;
    border-style: dashed;
}

.dashedtext {
    color:red;
}

.solid {
    border: 1;
    border-style: solid;
}
.solidtext {
    color:red;
}

.double {
    border:1;
    border-style:double;
}

.doubletext {
    color:red;
}

.groove {
    border:1;
    border-style:groove;
}

.groovetext {
    color:red;
}
.ridge {
    border:1;
    border-style:ridge;
}

.ridgetext {
    color:red;
}

.inset {
    border:1;
    border-style:inset;
}

.insettext {
    color:red;
}

.outset {
    border:1;
    border-style: outset;
}

.outset {
    color:red;
}
.pirmasremelis {
    border: 3px solid red;
    padding: 5px;
    width: 250px;
    height: 150px;
    align-items: left;
    border-radius: 90px;
    background-color: rgb(131, 234, 131);
    margin:1px;
    text-indent: 25px;
}

.antrasremelis {
    border: 3px solid red;
    padding: 5px;
    margin-left: 200px;
    width: 250px;
    height: 150px;
    align-items: left;
    text-align: ;
    border-radius: 25% 10%;
    background-color: #FFA000;
    margin:1px;
    text-indent: 25px;
}


.treciasremelis {
    border: 3px solid red;
    padding: 5px;
    margin-left: 200px;
    width: 250px;
    height: 150px;
    align-items: left;
    text-align: ;
    border-radius: 35px 10em 10%;
    background-color: #00FFFF;
    margin:1px;
    text-indent: 25px;
}

.ketvirtasremelis {
    border: 3px solid red;
    padding: 5px;
    margin-left: 200px;
    width: 250px;
    height: 150px;
    align-items: left;
    border-radius: 50px 50% 50cm 50em;
    background-color: #9ED9E7;
    margin:1px;
    text-indent: 25px;
}


